*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Playwrite VN Guides", cursive; */
    font-family: 'Poppins', sans-serif;
}

header{
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
}

header nav{
    display: flex;
    gap: 24px;
}

header nav a{
    text-decoration-line: none;
    color: rgb(19, 17, 17);
    font-size: 18px;
}

header section{
    display: flex;
    align-items: center;
    gap: 12px;
}