*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #163228;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    margin-bottom: 36px;
}

p{
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.circle-1{
    height: 200px;
    width: 200px;
    border-radius: 999px;
    background-image: linear-gradient(60deg,#33A36D,#50A333);
    background-color: red;
    position: fixed;
    top: -70px;
    left: -70px;
}
.circle-2{
    height: 250px;
    width: 250px;
    border-radius: 999px;
    background-image: linear-gradient(60deg,#33A36D,#50A333);
    background-color: red;
    position: fixed;
    top: 10px;
    left: 500px;
}

#card{
  width: 400px;
  background-color: rgba(255, 255, 255, 0.233);
 z-index: 50;
 backdrop-filter: blur(12px);
 border-radius: 12px;
 padding: 36px;
 color: white;
 box-shadow:  2px 2px rgba(255, 255, 255, 0.824);
}


.card-num{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

#wifi{
    height: 30px;
    transform: rotate(90deg);
}